<b>Debrief</b>
<p>
    When you played the game, you were randomly assigned to one of two groups to play a version of Space Oddity with or without features that potentially increase self-efficacy such as a progress bar, encouraging phrases, and displaying usernames.
</p>
<p>
    Our goals are:
</p>
<ul>
    <li>To determine if self-efficacy supporting features increase players' self-efficacy in Space Oddity, video games, and life.</li>
    <li>To determine if self-efficacy supporting features affect Player Experience in regards to enjoyment and self-determination.</li>
</ul>






