{% extends "template.html" %}
{% block head %}
{% endblock %}

{% block content %}

<div class="question" style="background-color: #F8FFF7; width: 967px; margin-left: auto; margin-right: auto;">
    <div class="padding" ; font-size: 40px>
        <b>Thank you for completing this study!</b>
        <br>Please use this link to return to Prolific: <a href='https://app.prolific.co/submissions/complete?cc=C165KPM6'<>https://app.prolific.co/submissions/complete?cc=C165KPM6</a>
    </div>
</div>
{% endblock %}